.row-fluid(ng-controller='SearchCtrl')
  ul.nav.nav-list
    li.result(ng-repeat='result in results')
      span.span8(ng-click="play({{result}})") {{result.title|truncate:60}}
      span#options.span4
        a
          i.icon-play.icon-2x(ng-click="play({{result}})")
        a(ng-href="{{result.href}}", download="{{result.href|last}}")
          i.icon-cloud-download.icon-2x
        a
          i.icon-list.icon-2x(ng-click="addToPlaylist({{result}})")
        a   
          div(ng-class="fb-like", data-send="true" ,data-width="450", data-show-faces="true")    