doctype 5
html(ng-app="music")
  head
    meta(name='fragment', content='!')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.js')
    script(src='js/helpers.js') 
    script(src='js/angular-audio-player.js') 
    script(src='js/angular-dragdrop.min.js') 
    script(src='js/controllers.js') 
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')  
    link(rel='stylesheet', href='css/app.css')
  body
    block content