doctype 5
html(ng-app="music", ng-controller='HomeCtrl')
  head
    title {{artist.name}} MP3 descargar musica GRATIS
    meta(name='fragment', content='!')
    meta(name='Description', content='{{artist.name}} MP3 descargar musica GRATIS. Escuchar musica de {{artist.name}} online')
    meta(name='keywords', content='{{artist.name}}, descargar, musica, gratis, mp3 {{artist.name}}, musica {{artist.name}}, videos, free, mp3, bajar mp3, descargar mp3, escuchar musica {{artist.name}}')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.js')
    script(src='js/helpers.js') 
    script(src='js/angular-audio-player.js') 
    script(src='js/angular-dragdrop.min.js') 
    script(src='js/controllers.js') 
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')  
    link(rel='stylesheet', href='css/app.css')
  body
    div#fb-root
    div.share_box
        div(class="fb-like",  data-colorscheme="light", data-href="http://bajarmusica.me/#!/{{path}}", data-layout="box_count", data-action="like", data-send="false")

    script
        window.fbAsyncInit = function() {
          FB.init({
                appId: '252390838242679',                        // App ID from the app dashboard                            // Check Facebook Login status
                status: true,
                cookie: true,
                xfbml: true,                                 // Look for social plugins on the page
                channelUrl: '//bajarmusica.me/channel.html'
             });
            };

          (function(d){
             var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/es_LA/all.js";
             d.getElementsByTagName('head')[0].appendChild(js);
           }(document));
    block content