/* 
    Document   : app
    Created on : 9/10/2013, 12:23:44 PM
    Author     : roger
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 60px;
    background: url(/images/billie_holiday.png) repeat 0 0;
  }
  
  i{
      cursor:pointer;
  }

  .controls{
    text-align: center;
  }
  
  #options{
      
  }
  #options .icon-play:default {
      color: green;
  }
  
  #player i{
    margin: 20px 20px;  

  }
  
  .playlist{
      margin-top: 20px;
  }

  
  .left-play{
    background: url(/images/subtle_carbon.png) repeat 0 0;
  }

  .center{
    text-align: center;
  }

